// San-serif font
@font-face {
  font-family: 'National';
  src:
    url('../fonts/national/NationalWeb-Thin.woff2') format('woff2'),
    url('../fonts/national/NationalWeb-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
  font-family: 'National';
  src:
    url('../fonts/national/NationalWeb-Light.woff2') format('woff2'),
    url('../fonts/national/NationalWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: 'National';
	src:
		url('../fonts/national/NationalWeb-Book.woff2') format('woff2'),
		url('../fonts/national/NationalWeb-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'National';
	src:
		url('../fonts/national/NationalWeb-BookItalic.woff2') format('woff2'),
		url('../fonts/national/NationalWeb-BookItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
	font-family: 'National';
	src:
		url('../fonts/national/NationalWeb-Medium.woff2') format('woff2'),
		url('../fonts/national/NationalWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'National';
	src:
		url('../fonts/national/NationalWeb-Semibold.woff2') format('woff2'),
		url('../fonts/national/NationalWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
	font-family: 'National';
	src:
		url('../fonts/national/NationalWeb-Bold.woff2') format('woff2'),
		url('../fonts/national/NationalWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// Serif font
@font-face {
  font-family: 'Tiempos';
  src:
    url('../fonts/tiempos/TiemposHeadlineWeb-Light.woff2') format('woff2'),
    url('../fonts/tiempos/TiemposHeadlineWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: 'Tiempos';
	src:
		url('../fonts/tiempos/TiemposHeadlineWeb-Regular.woff2') format('woff2'),
		url('../fonts/tiempos/TiemposHeadlineWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'Tiempos';
	src:
		url('../fonts/tiempos/TiemposHeadlineWeb-Medium.woff2') format('woff2'),
		url('../fonts/tiempos/TiemposHeadlineWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Tiempos';
	src:
		url('../fonts/tiempos/TiemposHeadlineWeb-MediumItalic.woff2') format('woff2'),
		url('../fonts/tiempos/TiemposHeadlineWeb-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
	font-family: 'Tiempos';
	src:
		url('../fonts/tiempos/TiemposHeadlineWeb-Semibold.woff2') format('woff2'),
		url('../fonts/tiempos/TiemposHeadlineWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
	font-family: 'Tiempos';
	src:
		url('../fonts/tiempos/TiemposHeadlineWeb-Bold.woff2') format('woff2'),
		url('../fonts/tiempos/TiemposHeadlineWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// Mono font
@font-face {
	font-family: 'Fira Code';
	src:
		url('../fonts/fira/FiraCode-Regular.woff2') format('woff2'),
		url('../fonts/fira/FiraCode-Regular.woff') format('woff');
	font-weight: 400;
    font-style: normal;
}