a{}
p{
  margin: var(--vert-margin-p) 0;
}
h1{
  font-family: var(--font-serif);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-serif-normal);
  color: var(--color-darkgray);
  margin: var(--vert-margin-h1) 0;
}
h2{
  font-family: var(--font-serif);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-serif-normal);
  color: var(--color-darkgray);
  margin: var(--vert-margin-h2) 0;
}
h3{
  font-family: var(--font-sans);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-sans-light);
  color: var(--color-darkgray);
  margin: var(--vert-margin-h3) 0;
}
h4{
  font-family: var(--font-mono);
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: var(--font-mono-normal);
  color: var(--color-darkgray);
  margin: var(--vert-margin-h4) 0;
  text-transform: uppercase;
}
h5{
  font-family: var(--font-sans);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  font-weight: var(--font-sans-bold);
  color: var(--color-darkgray);
  margin: var(--vert-margin-h5) 0;
}
h6{
  font-family: var(--font-sans);
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  font-weight: var(--font-sans-normal);
  color: var(--color-darkgray);
  margin: var(--vert-margin-h6) 0;
  text-transform: uppercase;
}
