<section class="g-features">
  <div class='g-section-intro'>
    <h4>Customer Chat</h4>
    <h2>Give smart, truly helpful chat to every customer, everywhere.</h2>
  </div>
  <div class="g-features__item g-features__item--flow-right">
    <div class="g-features__item__description">
      <h3>Automated dialog designed to be helpful.</h3>
      <p>Sed sit amet mauris sit amet neque blandit sagittis. Proin erat odio, fringilla vel auctor dapibus, convallis id dui. Etiam facilisis nisi at libero tincidunt sollicitudin. Aliquam placerat porttitor velit ac feugiat. Proin et luctus massa. Suspendisse elit massa, porttitor eu mi vel, sodales imperdiet justo.</p>
    </div>
    <div class="g-features__item__image">
      <img src="../assets/images/feature-chat.png">
    </div>
  </div>
  <div class="g-features__item g-features__item--flow-left">
    <div class="g-features__item__image">
      <img src="../assets/images/feature-ingest.png">
    </div>
    <div class="g-features__item__description">
      <h3>Automated dialog designed to be helpful.</h3>
      <p>Sed sit amet mauris sit amet neque blandit sagittis. Proin erat odio, fringilla vel auctor dapibus, convallis id dui. Etiam facilisis nisi at libero tincidunt sollicitudin. Aliquam placerat porttitor velit ac feugiat. Proin et luctus massa. Suspendisse elit massa, porttitor eu mi vel, sodales imperdiet justo.</p>
    </div>
  </div>
</section>
<section class="g-features g-features--bg-white">
  <div class="g-features__item g-features__item--flow-right">
    <div class="g-features__item__description">
      <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
      <h3>Set your own rules to determine who’s a sales-lead.</h3>
      <p>Sed sit amet mauris sit amet neque blandit sagittis. Proin erat odio, fringilla vel auctor dapibus, convallis id dui. Etiam facilisis nisi at libero tincidunt sollicitudin. Aliquam placerat porttitor velit ac feugiat. Proin et luctus massa. Suspendisse elit massa, porttitor eu mi vel, sodales imperdiet justo.</p>
    </div>
    <div class="g-features__item__image g-features__item__image--small">
      <img src="../assets/images/feature-small-ph.png">
    </div>
  </div>
  <div class="g-features__item g-features__item--flow-left">
    <div class="g-features__item__image g-features__item__image--small">
      <img src="../assets/images/feature-small-ph.png">
    </div>
    <div class="g-features__item__description">
      <h4 class="g-header-tag g-header-tag--new">New</h4>
      <h3>Collaborate with your team on building an IdeaBase.</h3>
      <p>Sed sit amet mauris sit amet neque blandit sagittis. Proin erat odio, fringilla vel auctor dapibus, convallis id dui. Etiam facilisis nisi at libero tincidunt sollicitudin. Aliquam placerat porttitor velit ac feugiat. Proin et luctus massa. Suspendisse elit massa, porttitor eu mi vel, sodales imperdiet justo.</p>
    </div>
  </div>
</section>
