<footer class="g-footer">
  <div class="g-footer__brand">{{> "svgs/g-wordmark-stacked"}}</div>
  <div class="g-footer__menu">
    {{> "footer-navigation"}}
  </div>
  <div class="g-footer__secondary-menu">
    <ul>
      <li class="g-footer__secondary-menu__item"><a href="#">Terms</a></li>
      <li class="g-footer__secondary-menu__item"><a href="#">Privacy</a></li>
      <li class="g-footer__secondary-menu__item"><a href="#">Status</a></li>
      <li class="g-footer__secondary-menu__item"><a href="#">Security</a></li>
    </ul>
  </div>
  <div class="g-footer__social">
    <a class="g-footer__social__item g-footer__social__item--li"><img src="../assets/images/ui-linkedin.svg"></a><a class="g-footer__social__item"><img src="../assets/images/ui-twitter.svg"></a>
  </div>
</footer>