<ul class="g-footer-nav" role="menu">
  <li class="g-footer-nav__item nav-products" role="menuitem">
    <a class="g-footer-nav__item__link" href="/ideaflow">Products</a>
    <ul class="g-footer-nav__item__submenu">
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/ideaflow">IdeaFlow</a>
      </li>
{{!--       <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="ideaanalytics">IdeaAnalytics</a>
      </li> --}}
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="ideamail">IdeaMail</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/ideamail#pricing">Pricing</a>
      </li>
    </ul>
  </li>
  <li class="g-footer-nav__item nav-science" role="menuitem">
    <a class="g-footer-nav__item__link" href="/science">Science</a>
    <ul class="g-footer-nav__item__submenu">
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/blog/idea-learning">On IdeaLearning</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/blog/our-research">Our Research</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/blog">Publications</a>
      </li>
    </ul>
  </li>
  <li class="g-footer-nav__item nav-company" role="menuitem">
    <a class="g-footer-nav__item__link" href="/company">Company</a>
    <ul class="g-footer-nav__item__submenu">
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/company#about-us">About Us</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/company#our-founder">Our Founder</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/company#investors">Investors</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/careers">Careers</a>
      </li>
    </ul>
  </li>
  {{!-- <li class="g-footer-nav__item nav-blog" role="menuitem">
    <a class="g-footer-nav__item__link" href="/blog">Blog</a>
    <ul class="g-footer-nav__item__submenu">
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/blog">The Latest</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/blog/article1">Article #1</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="/blog/article2">Article #2</a>
      </li>
    </ul>
  </li> --}}
</ul>