<ul class="g-footer-nav" role="menu">
  <li class="g-footer-nav__item nav-products" role="menuitem">
    <a class="g-footer-nav__item__link" href="http://localhost:2368/">Products</a>
    <ul class="g-footer-nav__item__submenu">
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">IdeaFlow</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">IdeaAnalytics</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">IdeaMail</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">Pricing</a>
      </li>
    </ul>
  </li>
  <li class="g-footer-nav__item nav-science" role="menuitem">
    <a class="g-footer-nav__item__link" href="http://localhost:2368/tag/getting-started/">Science</a>
    <ul class="g-footer-nav__item__submenu">
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">On IdeaLearning</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">Our Research</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">Publications</a>
      </li>
    </ul>
  </li>
  <li class="g-footer-nav__item nav-company" role="menuitem">
    <a class="g-footer-nav__item__link" href="http://localhost:2368/author/ghost/">Company</a>
    <ul class="g-footer-nav__item__submenu">
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">About Us</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">Our Founder</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">Investors</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">Careers</a>
      </li>
    </ul>
  </li>
  <li class="g-footer-nav__item nav-blog" role="menuitem">
    <a class="g-footer-nav__item__link" href="https://ghost.org/docs/">Blog</a>
    <ul class="g-footer-nav__item__submenu">
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">The Latest</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">Article #1</a>
      </li>
      <li class="g-footer-nav__item__submenu__item" role="menuitem">
        <a class="g-footer-nav__item__submenu__item__link" href="http://localhost:2368/">Article #2</a>
      </li>
    </ul>
  </li>
</ul>