<header class="g-header">
  <div class="g-header__brand">{{> "svgs/g-wordmark"}}</div>
  <div class="g-header__menu">{{navigation}}</div>
  <div class="g-header__options">
    <a href="#">Log-in</a>
    <button href="#">Sign-up</button>
  </div>
</header>