<header class="g-hero">
  <div class="g-hero__cta">
    <h4 class="g-header-tag g-header-tag--new">New</h4>
    <h1>Teach your website to talk.</h1>
    <p>Deliver instant conversations to all your leads with IdeaFlow by Gamalon. Deployed in minutes, not months. No live chat needed.</p>
    <a class="g-cta g-cta--btn" type="submit">Schedule a Demo</a>
  </div>
  <div class="g-hero__image" style="background-image:url('../assets/images/hero-jamie.png');"></div>
</header>