<section class="g-industries">
  <div class='g-section-intro'>
    <h4>A Cross-industry Solution</h4>
    <h2>We are an industry-agnostic solution, with customers ranging from automotive to saas.</h2>
  </div>
  <div class="g-industries__list">
    <div class="g-industries__list__item">
      <div class="g-industries__list__item__icon">
        <img src="../assets/images/industries-tech.svg">
      </div>
      <div class="g-industries__list__item__description">
        <h5>Tech</h5>
        <p>Morbi nulla est, facilisis ut nulla quis, pretium laoreet nibh. Fusce ipsum lectus, congue et varius ut, vulputate vel enim. Suspendisse convallis ante tellus.</p>
      </div>
    </div>
    <div class="g-industries__list__item">
      <div class="g-industries__list__item__icon">
        <img src="../assets/images/industries-automotive.svg">
      </div>
      <div class="g-industries__list__item__description">
        <h5>Automotive</h5>
        <p>Morbi nulla est, facilisis ut nulla quis, pretium laoreet nibh. Fusce ipsum lectus, congue et varius ut, vulputate vel enim. Suspendisse convallis ante tellus.</p>
      </div>
    </div>
    <div class="g-industries__list__item">
      <div class="g-industries__list__item__icon">
        <img src="../assets/images/industries-life-sciences.svg">
      </div>
      <div class="g-industries__list__item__description">
        <h5>Life Sciences</h5>
        <p>Morbi nulla est, facilisis ut nulla quis, pretium laoreet nibh. Fusce ipsum lectus, congue et varius ut, vulputate vel enim. Suspendisse convallis ante tellus.</p>
      </div>
    </div>
    <div class="g-industries__list__item">
      <div class="g-industries__list__item__icon">
        <img src="../assets/images/industries-consumer-goods.svg">
      </div>
      <div class="g-industries__list__item__description">
        <h5>Consumer Goods</h5>
        <p>Morbi nulla est, facilisis ut nulla quis, pretium laoreet nibh. Fusce ipsum lectus, congue et varius ut, vulputate vel enim. Suspendisse convallis ante tellus.</p>
      </div>
    </div>
  </div>
</section>