<section class="g-logos">
  <div class='g-section-intro'>
    <h4>Trusted</h4>
    <h3>Companies Large and small use our conversational platform to build trust with their customers and grow their business.</h3>
  </div>
  <ul class="g-logos__list">
    <li class="g-logos__list__item">{{> "svgs/logo-toyota"}}</li>
    <li class="g-logos__list__item">{{> "svgs/logo-sonos"}}</li>
    <li class="g-logos__list__item">{{> "svgs/logo-basf"}}</li>
    <li class="g-logos__list__item">{{> "svgs/logo-askcody"}}</li>
  </ul>
  <a class="g-cta g-cta--link" href="#">Read Customer Stories</a>
</section>