<section class="g-logos customers">
  <div class='sub-section sub-section--intro'>
    <h4>Trusted</h4>
    <h2>Companies Large and small use our conversational platform to build trust with their customers and grow their business.</h2>
  </div>
  <ul class="sub-section sub-section--gridded-row">
    <li class="sub-section--gridded-row__item--five-col basf"><img src="../assets/images/logo-basf.svg"></li>
    <li class="sub-section--gridded-row__item--five-col gm"><img src="../assets/images/logo-gm.png"></li>
    <li class="sub-section--gridded-row__item--five-col avaya"><img src="../assets/images/logo-avaya.png"></li>
    <li class="sub-section--gridded-row__item--five-col toyota"><img src="../assets/images/logo-toyota.svg"></li>
    <li class="sub-section--gridded-row__item--five-col askcody"><img src="../assets/images/logo-askcody.svg"></li>
  </ul>
</section>










