<ul class="g-mobilenav" role="menu">

  <li class="g-mobilenav__item nav-products" role="menuitem">
    <a class="g-mobilenav__item__link" href="/ideaflow">Products</a>
    <div class="g-mobilenav__item__submenuwrap">
      <ul class="g-mobilenav__item__submenuwrap__submenu">
        <li class="g-mobilenav__item__submenuwrap__submenu__item" role="menuitem">
          <a class="g-mobilenav__item__submenuwrap__submenu__item__link" href="/ideaflow">IdeaFlow</a>
          <p class="g-mobilenav__item__submenuwrap__submenu__item__subtext">The new frontier of Conversational A.I.</p>
        </li>
{{!--         <li class="g-mobilenav__item__submenuwrap__submenu__item" role="menuitem">
          <a class="g-mobilenav__item__submenuwrap__submenu__item__link" href="http://localhost:2368/">IdeaAnalytics</a>
          <p class="g-mobilenav__item__submenuwrap__submenu__item__subtext">Next-gen analytics powered by Idea A.I.</p>
        </li> --}}
        <li class="g-mobilenav__item__submenuwrap__submenu__item" role="menuitem">
          <a class="g-mobilenav__item__submenuwrap__submenu__item__link" href="/ideamail">IdeaMail</a>
          <p class="g-mobilenav__item__submenuwrap__submenu__item__subtext">A/B testing for every idea in your email.</p>
        </li>
      </ul>
    </div>
  </li>
  <li class="g-mobilenav__item nav-science" role="menuitem">
    <a class="g-mobilenav__item__link" href="/science">Science</a>
  </li>
  <li class="g-mobilenav__item nav-company" role="menuitem">
    <a class="g-mobilenav__item__link" href="/company">Company</a>
  </li>
{{!--   <li class="g-mobilenav__item nav-blog" role="menuitem">
    <a class="g-mobilenav__item__link" href="https://ghost.org/docs/">Blog</a>
  </li> --}}

</ul>