<ul class="g-nav" role="menu">

  <li class="g-nav__item nav-products" role="menuitem">
    <a class="g-nav__item__link parent" href="/ideaflow">Products
      <span class="g-nav__item__link__arrow">{{> "svgs/menu-arrow"}}</span>
    </a>
    <div class="g-nav__item__submenuwrap">
      <ul class="g-nav__item__submenuwrap__submenu">
        <li class="g-nav__item__submenuwrap__submenu__item" role="menuitem">
          <a class="g-nav__item__submenuwrap__submenu__item__link" href="/ideaflow">IdeaFlow</a>
          <p class="g-nav__item__submenuwrap__submenu__item__subtext">The new frontier of Conversational A.I.</p>
        </li>
        <li class="g-nav__item__submenuwrap__submenu__item" role="menuitem">
          <a class="g-nav__item__submenuwrap__submenu__item__link" href="/ideamail">IdeaMail</a>
          <p class="g-nav__item__submenuwrap__submenu__item__subtext">A/B testing for every idea in your email.</p>
        </li>
{{!--         <li class="g-nav__item__submenuwrap__submenu__item" role="menuitem">
          <a class="g-nav__item__submenuwrap__submenu__item__link" href="/ideaanalytics">IdeaAnalytics</a>
          <p class="g-nav__item__submenuwrap__submenu__item__subtext">Next-gen analytics powered by Idea A.I.</p>
        </li> --}}
      </ul>
    </div>
  </li>
  <li class="g-nav__item nav-science" role="menuitem">
    <a class="g-nav__item__link parent" href="/science">Science</a>
  </li>
  <li class="g-nav__item nav-company" role="menuitem">
    <a class="g-nav__item__link parent" href="/company">Company</a>
  </li>
  {{!-- <li class="g-nav__item nav-blog" role="menuitem">
    <a class="g-nav__item__link" href="/blog">Blog</a>
  </li> --}}

</ul>