<section class="g-on-science">
  <div class='sub-section sub-section--intro'>
    <h4>Edge of the Cutting-edge</h4>
    <h2>Introducing Idea Learning, the A.I. industry’s first compositional deep learning approach.</h2>
  </div>
  <div class="sub-section sub-section--flow-right">
    <div class="sub-section--flow-right__description">
      <h3>A human-centered machine learning approach.</h3>
      <p>We’ve developed a new kind of machine learning technique that we call Idea Learning. Idea Learning brings together the most effective machine learning methods available, and introduces compositionality and auditability–together a method we developed called Abstract Supervision. In our model the relationship between you and your machine learning algorithm is transparent and straight forward. Ideas are compositional building blocks that you can arrange within your IdeaBase.</p>
    </div>
    <div class="sub-section--flow-right__image">
      <img src="../assets/images/on-science-idea-learning.svg">
    </div>
  </div>
  <div class="sub-section sub-section--flow-left">
    <div class="sub-section--flow-left__image">
      <img src="../assets/images/on-science-benchmark.svg">
    </div>
    <div class="sub-section--flow-left__description">
      <h3>Idea learning represents the clearest pathway yet to exponentially increasing Artificial intelligence.</h3>
      <p>Star the stories you care about most so you can keep an eye on them as your organization works to address the issue them as your organization works to address.</p>
    </div>
  </div>
</section>