<section class="g-signup">
  <div class="g-signup__cta">
    <h4 class="g-header-tag g-header-tag--free">Free Trial</h4>
    <h2>Ready to start? Create a free account today.</h2>
    <ul class="g-signup__cta__checklist">
      <li class="g-signup__cta__checklist__item">30 Day Free Trial</li>
      <li class="g-signup__cta__checklist__item">Quick Setup</li>
      <li class="g-signup__cta__checklist__item">Cancel Whenever</li>
    </ul>
  </div>
  <div class="g-signup__formwrap">
    <h5>Try Free for 30 Days</h5>
    <p>Start an account for free to see Gamalon’s conversational Intelligence platform in action.</p>
    <form class="g-signup__formwrap__form">
      <input class="g-signup__formwrap__form__input" type="text" name="work-email" placeholder="Work email...">
      <button class="g-signup__formwrap__form__btn g-btn g-btn--dark g-btn--large g-btn--submit" type="submit">
        Create Account
      </button>
    </form>
    <p>Already have an account? <a href="#">Sign-in.</a></p>
  </div>
</section>