<section class="g-idealearning-circle">
  <div class='sub-section sub-section--intro'>
    <h4>Idea learning</h4>
    <h3>Gamalon gets smarter faster by bringing together machine<br> learning with domain-specific human understanding.</h3>
  </div>
  <img src="../assets/images/idealearning-circle.png">
</section>