<section class="g-principles">
  <div class='sub-section sub-section--intro'>
    <h4>6 Key Principles</h4>
    <h2>We have developed our approach to machine learning, which we call Idea Learning, with 6 key principles in mind.</h2>
    <p>Inspired by the writing of Pedro Domingos</p>
  </div>
  <div class="g-principles__list">
    <div class="g-principles__list__item">
      <div class="g-principles__list__item__icon">
        <img src="../assets/images/principles-people.png">
      </div>
      <div class="g-principles__list__item__description">
        <h5>People</h5>
        <p>Editable & Auditable AI; Human-machine interaction using ideas, not just labeling data</p>
      </div>
    </div>
    <div class="g-principles__list__item">
      <div class="g-principles__list__item__icon">
        <img src="../assets/images/principles-deeplearning.png">
      </div>
      <div class="g-principles__list__item__description">
        <h5>Deep Learning</h5>
        <p>Neural / Connectionist; Deep learning finds patterns that people cannot find themselves.</p>
      </div>
    </div>
    <div class="g-principles__list__item">
      <div class="g-principles__list__item__icon">
        <img src="../assets/images/principles-programs.png">
      </div>
      <div class="g-principles__list__item__description">
        <h5>Programs</h5>
        <p>The ability to learn rules/programs that humans can read and understand</p>
      </div>
    </div>
    <div class="g-principles__list__item">
      <div class="g-principles__list__item__icon">
        <img src="../assets/images/principles-probabilistic.png">
      </div>
      <div class="g-principles__list__item__description">
        <h5>Probabilistic</h5>
        <p>System is self aware internally about where it is uncertain</p>
      </div>
    </div>
    <div class="g-principles__list__item">
      <div class="g-principles__list__item__icon">
        <img src="../assets/images/principles-populations.png">
      </div>
      <div class="g-principles__list__item__description">
        <h5>Populations</h5>
        <p>Inspiration from evolutionary algorithms</p>
      </div>
    </div>
    <div class="g-principles__list__item">
      <div class="g-principles__list__item__icon">
        <img src="../assets/images/principles-compositional.png">
      </div>
      <div class="g-principles__list__item__description">
        <h5>Compositional</h5>
        <p>Train and then recombine modules</p>
      </div>
    </div>
  </div>
</section>








