{{!< default}}

  {{> "home/hero"}}
  {{> "home/logos"}}
  {{> "on-science"}}
  {{> "home/key-benefits"}}
  {{> "home/product-showcase-ideaflow"}}
  {{> "home/praise-billboard-ideaflow"}}
  {{> "home/product-showcase-ideamail"}}
  {{> "home/praise-billboard-ideamail"}}

  <div class="g-white-pattern-bg last">
    {{> "signup"}}
  </div>

  {{> "featured-posts"}}

