{{!< default}}

{{#post}}

  {{> "ideaflow/hero"}}
  {{> "logos"}}
  {{> "ideaflow/features"}}
  {{> "ideaflow/how-it-works"}}
  {{> "ideaflow/comparison-chart"}}
  {{> "ideaflow/praise"}}
  {{> "industries"}}
  {{> "on-science"}}
  {{> "signup"}}

  <div class="gh-content gh-canvas">
    {{content}}
  </div>

{{/post}}
