{{!< default}}

{{#post}}

  {{> "hero"}}
  {{> "logos"}}
  {{> "features"}}
  {{> "praise"}}
  {{> "industries"}}
  {{> "on-science"}}
  {{> "signup"}}

  <div class="gh-content gh-canvas">
    {{content}}
  </div>

{{/post}}
