{{!< default}}

{{#post}}

  {{> "ideamail/hero"}}
  {{> "logos"}}
  {{> "ideamail/features"}}
  {{> "ideamail/casestudies"}}
  {{> "ideamail/praise"}}
  {{> "ideamail/planfeature-chart"}}
  {{!-- {{> "ideamail/how-it-works"}}
  {{> "ideamail/comparison-chart"}}
  
  {{> "industries"}}
  {{> "on-science"}}
  {{> "signup"}} --}}

  <div class="gh-content gh-canvas">
    {{content}}
  </div>

{{/post}}
