<section class="g-about">

  <div class="sub-section sub-section--columned">
    <div class="sub-section--columned__left">
      <h4>About Gamalon</h4>
    </div>
    <div class="sub-section--columned__right">
      <h2>Named on MIT Technology Review’s 50 Smartest Companies, we create learning machines with new ways for humans and machines to collaborate and learn from one another.</h2>
      <p>Gamalon’s focus is helping enterprises understand their customers and take impactful actions. With Idea Learning, we’re able to quickly and easily inject domain expertise into the model, getting you to actionable insights sooner.</p>
    </div>
  </div>

  <div class="sub-section--columned__image">
    <figure><img src="../assets/images/company-office.jpg"></figure>
  </div>

  <div class="sub-section sub-section--columned">
    <div class="sub-section--columned__left"></div>
    <div class="sub-section--columned__right">
      <p>Working with Noah Goodman at Stanford, David Blei at Columbia, Josh Tenenbaum at MIT, Stuart Russell at Berkeley, and Zoubain Gharamani at Cambridge University, as part of the largest DARPA program for next generation machine learning over the past 4 years, we have developed a new approach to deep learning, which we call Idea Learning.</p>
      <p>Gamalon is now backed by Intel’s venture capital arm, Intel Capital, one of the three largest venture capital funds in the world, following personal investments by leading technologists such as Andy Bechtolsheim, co-founder of Sun Microsystems and CEO & Founder of Arista Networks, and Adam D’Angelo, former CTO of Facebook and CEO and Founder of Quora.</p>
    </div>
  </div>

</section>








