<div class="g-white-pattern-bg">
  <section class="g-investors no_pad_t no_pad_b">
    <div class='sub-section sub-section--intro'>
      <h4>Our Advisors</h4>
      <h3>Fearlessly guided through thorny and often unanswerable territory.</h3>
    </div>

    <div class="sub-section sub-section--gridded-row">

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image invest">
          <img src="../assets/images/company-david-blei.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>David Blei</h5>
        </div>
      </div>

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-noah-d-goodman.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Noah D. Goodman</h5>
        </div>
      </div>

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-roman-lubynsky.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Roman Lubynsky</h5>
        </div>
      </div>

    </div>

  </section>
</div>





