<div class="g-white-pattern-bg">
  <section class="g-careers highlight--teal no_pad_t">
    
      <div class="sub-section sub-section--columned b_b_teal">
        <div class="sub-section--columned__left">
          <h4>Careers</h4>
        </div>
        <div class="sub-section--columned__right">
          <h2>Interested in addressing some of the most Challenging problems of this century?</h2>
          <h3>At Gamalon, we’re creating the future of how machines and humans can interact and learn from one another. We’ve created a business that we love working for, and we think you will too.</h3>
        </div>
      </div>

      <div class="sub-section sub-section--columned">
        <div class="sub-section--columned__left">
          <h4>Open Positions</h4>
        </div>
        <div class="sub-section--columned__right">

          <h5>Engineering</h5>

          <ul class="g-careers__job-list b_b_teal" id="gamalon-jobs-list">
            <li class="g-careers__job-list__item">
              <span class="g-careers__job-list__item__field">
                <p>Senior Backend Software Engineer</p>
              </span>
              <span class="g-careers__job-list__item__field">
                <h4 class="g-header-tag g-header-tag--beta">Boston, MA</h4>
              </span>
            </li>
          </ul>

          <div class="sub-section--columned__right__small-grid b_b_teal m_b_2">
            <div class="sub-section--columned__right__small-grid__item">
              <h5>A Diverse & Inclusive Workplace</h5>
              <p>We believe that diverse teams make great teams, and we encourage people of all backgrounds to apply. Please do not hesitate to apply.</p>
            </div>
            <div class="sub-section--columned__right__small-grid__item">
              <h5>Enjoyable Autonomous Work</h5>
              <p>We hire people who are not just capable but also generous, and our company is a stimulating and positive place to work.</p>
            </div>
            <div class="sub-section--columned__right__small-grid__item">
              <h5>Investing in your Future</h5>
              <p>Gamalon gives you the opportunity to work at the forefront of ML technology, along with some of the best in the data science, machine learning and engineering fields.</p>
            </div>
            <div class="sub-section--columned__right__small-grid__item">
              <h5>Career Development & Growth</h5>
              <p>If you are looking for career growth opportunities, there will be many as the company continues to expand.</p>
            </div>
            <div class="sub-section--columned__right__small-grid__item">
              <h5>Health & Family First</h5>
              <p>Gamalon offers highly competitive employee benefits including generous healthcare, vacation, and parental leave.</p>
            </div>
          </div>
          <p>Gamalon is an equal opportunity employer; applicants are considered for all roles without regard to race, color, religious creed, sex, national origin, citizenship status, age, physical or mental disability, sexual orientation, marital, parental, veteran or military status, unfavorable military discharge, or any other status protected by applicable federal, state or local law.</p>
        </div>
      </div>
    
  </section>
</div>
