<section class="g-founder">
  
  <div class="sub-section sub-section--columned">
    <div class="sub-section--columned__left">
      <h4>Founder & CEO</h4>
    </div>
    <div class="sub-section--columned__right">
      <h3>Ben Vigoda, CEO and Founder of Gamalon, has authored over 120 patents and academic publications.</h3>
      <p>Ben’s work has been featured in the Wall Street Journal, New York Times, EE Times, Scientific American, Wired, TechCrunch, and other media.</p>
    </div>
  </div>

  <div class="sub-section--columned__image">
    <figure><img src="../assets/images/company-ben.jpg"></figure>
  </div>

  <div class="sub-section sub-section--columned">
    <div class="sub-section--columned__left"></div>
    <div class="sub-section--columned__right">
      <p>Ben is the CEO and founder of Gamalon, Inc. which is pioneering next generation machine learning and AI technology.</p>
      <p>He was co-founder and CEO of Lyric, the first microprocessor architectures for statistical machine learning, growing out of Ben’s PhD at MIT. Acquired by Analog Devices, Lyric’s technology is widely used in smartphones, cars, telecommunications, and medical devices.</p>
      <p>Ben also co-founded Design That Matters, an NGO that has saved thousands of infant lives by innovating low-cost, easy-to-use incubators, UV therapy, and other medical devices.</p>
    </div>

</section>