<header class="g-hero bleed">
  <div class="g-hero__cta">
    <h4 class="g-header-tag g-header-tag--new">About Gamalon</h4>
    <h1>We are building the next generation of A.I.</h1>
  </div>
  <div class="g-hero__background-video">
    <div class="sub-section--video__wrap">
      <iframe src="https://player.vimeo.com/video/326613286?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</header>