<div class="g-white-pattern-bg">
  <section class="g-investors no_pad_b">
    <div class='sub-section sub-section--intro'>
      <h4>Our Investors</h4>
      <h3>Backed by a diverse set of organizations and individuals.</h3>
    </div>
    <div class="g-investors__logos sub-section sub-section--gridded-row">

      <div class="g-investors__logos__item sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image invest">
          <img src="../assets/images/company-investors-intel.png">
        </div>
      </div>

      <div class="g-investors__logos__item sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-investors-intel.png">
        </div>
      </div>

      <div class="g-investors__logos__item sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-investors-intel.png">
        </div>
      </div>

    </div>

    <div class="g-investors__logos sub-section sub-section--gridded-row">

      <div class="g-investors__logos__item sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-investors-intel.png">
        </div>
      </div>

      <div class="g-investors__logos__item sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-investors-intel.png">
        </div>
      </div>

      <div class="g-investors__logos__item sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-investors-intel.png">
        </div>
      </div>

    </div>

    <div class="g-investors__logos sub-section sub-section--gridded-row">

      <div class="g-investors__logos__item sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-investors-intel.png">
        </div>
      </div>

    </div>

    <div class="sub-section sub-section--gridded-row">

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image invest">
          <img src="../assets/images/company-andy-bechtolsheim.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Andy Bechtolsheim</h5>
        </div>
      </div>

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-steve-blank.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Steve Blank</h5>
        </div>
      </div>

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-ivan-chong.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Ivan Chong</h5>
        </div>
      </div>

    </div>

    <div class="sub-section sub-section--gridded-row">

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-adam-dangelo.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Adam D’Angelo</h5>
        </div>
      </div>

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-georges-harik.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Georges Harik</h5>
        </div>
      </div>

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-raymie-stata.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Raymie Stata</h5>
        </div>
      </div>

    </div>

    <div class="sub-section sub-section--gridded-row b_b_gray">

      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-matthew-sutton.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Matthew Sutton</h5>
        </div>
      </div>

    </div>

  </section>
</div>