<div class="g-white-pattern-bg">
  <section class="g-leadership">
    <div class='sub-section sub-section--intro'>
      <h4>Company Leadership</h4>
      <h2>Fearlessly Led by a team with a wide range of successful industry experience.</h2>
    </div>
    <div class="sub-section sub-section--gridded-row">
      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-matt-finn.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Matt Finn</h5>
          <p>Chief Financial Officer</p>
        </div>
      </div>
      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-matt-tharp.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Matt Tharp</h5>
          <p>Chief Product Officer</p>
        </div>
      </div>
      <div class="sub-section--gridded-row__item">
        <div class="sub-section--gridded-row__item__image">
          <img src="../assets/images/company-sanji-alwis.jpg">
        </div>
        <div class="sub-section--gridded-row__item__text">
          <h5>Sanji Alwis</h5>
          <p>VP of Business Development</p>
        </div>
      </div>
    </div>
  </section>
</div>