/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* resources */
@import "vars.css";

/* Base styles */
@import "base/fonts.css";
@import "base/base.css";
@import "base/layout.css";
@import "base/typography.css";

/* Partials */
@import "partials/header.css";
@import "partials/footer.css";
@import "partials/navigation.css";
@import "partials/mobile-nav.css";
@import "partials/hero.css";
@import "partials/logos.css";
@import "partials/features.css";
@import "partials/praise.css";
@import "partials/industries.css";
@import "partials/on-science.css";
@import "partials/signup.css";
@import "partials/footer-navigation.css";
@import "partials/how-it-works.css";
@import "partials/comparison-chart.css";
@import "partials/casestudies.css";
@import "partials/planfeature-chart.css";

/* Elements */
@import "elements/cta.css";
@import "elements/header-tag.css";
@import "elements/section-intro.css";
@import "elements/button.css";
@import "elements/input.css";