/* Variables
/* ---------------------------------------------------------- */

:root {

    /* Colors - palette */
    --color-infared: #FF0E54;
    --color-cream: #FCF7F0;
    --color-darkgray: #212227;
    --color-charcoal: rgba(66, 67, 72, 1);
    --color-lightcharcoal: rgba(66, 67, 72, 0.77);
    --color-lightblue: #7FABFF;
    --color-burgundy: #65001d;
    --color-purpleblue: #4E24FF;
    --color-darkblue: #121D44;
    --color-darkgreen: #00243A;

    --color-highlight-teal: #72F2D0;
    --color-highlight-yellow: #FFCE40; 
    --color-highlight-brightyellow: #FAEF32;

    /* Fonts */
    --font-sans: "National", "Helvetica Neue", arial, sans-serif;
    --font-serif: "Tiempos", Georgia, Times, serif;
    --font-mono: "Fira Code", Menlo, Courier, monospace;

    --font-sans-light: 300;
    --font-sans-normal: 400;
    --font-sans-medium: 500;
    --font-sans-semibold: 600;
    --font-sans-bold: 700;

    --font-serif-light: 400;
    --font-serif-normal: 400;
    --font-serif-medium: 500;
    --font-serif-semibold: 600;
    --font-serif-bold: 700;

    --font-mono-normal: 400;
    --font-mono-medium: 500;
    --font-mono-semibold: 600;

    /*large*/
    --font-size-body: 1.15rem;
    --line-height-body: 1.6rem;
    --vert-margin-p: 0.8rem;

    /*small*/
    --font-size-body_SMALL: 0.9rem;
    --line-height-body_SMALL: 1.48rem;
    --vert-margin-p_SMALL: 0.6rem;

    --font-size-h1: 3rem;
    --line-height-h1: 3rem;
    --vert-margin-h1: 1.5rem;

    --font-size-h2: 2.3rem;
    --line-height-h2: 2.8rem;
    --vert-margin-h2: 1rem;

    --font-size-h3: 1.9rem;
    --line-height-h3: 2.19rem;
    --vert-margin-h3: 0.9rem;

    --font-size-h4: 0.85rem;
    --line-height-h4: 0.85rem;
    --vert-margin-h4: 0.5rem;

    --font-size-h5: 1.2rem;
    --line-height-h5: 1.5rem;
    --vert-margin-h5: 0.75rem;

    --font-size-h6: 0.9rem;
    --line-height-h6: 0.9rem;
    --vert-margin-h6: 0.35rem;

    /* Borders */
    --border-body: 15px solid white;
    --border-sep: 1px solid #DBDBDB;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1200px;
    --medium: 900px;
    --small: 740px;
    --xsmall: 480px;

    /* SIZES */
    /*large device*/
    --padding-body-inner: 3rem 0 3rem 0;
    --padding-section: 6rem;
    --padding-section-intro: 3rem 0;
    --margin-section: 10rem 0rem 7rem 0rem;
    /*medium device*/
    /*small device*/
    --padding-body-inner_SMALL:1rem 0 1rem 0;


    /* Animations & transitions */

    --hover-link: all 0.15s ease-in-out;
    --hover-menu-item: all 0.25s ease-in-out;
    --hover-button: all 0.25s ease-in-out;
}
