<section class="g-casestudies">
  <div class='g-section-intro'>
    <h4>Customer Successes</h4>
    <h2>An email solution that customers need.</h2>
  </div>
  <div class="g-casestudies__item g-casestudies__item--flow-right">
    <div class="g-casestudies__item__description">
      <h4 class="g-header-tag g-header-tag--beta">Email Optimization</h4>
      <h2>Develop Cold Email Ideas for a New Persona</h2>
      <p>A technology company needed to penetrate a new market segment and needed to find out which “ideas” would activate a new persona. This company used Gamalon to experiment on small sample lists of less than 200 people to find which ideas drove engagement.</p>
    </div>
    <div class="g-casestudies__item__image">
      <img src="../assets/images/feature-chat.png">
    </div>
  </div>
  <div class="g-casestudies__item g-casestudies__item--flow-left">
    <div class="g-casestudies__item__image">
      <img src="../assets/images/feature-chat.png">
    </div>
    <div class="g-casestudies__item__description">
      <h4 class="g-header-tag g-header-tag--beta">Segment discovery</h4>
      <h2>Find Beta Customers</h2>
      <p>A SaaS company launching its beta product was searching for a solution for targeted customer acquisition, allowing them to email a pre-qualified contact list.</p>
    </div>
  </div>
  <div class="g-casestudies__item g-casestudies__item--flow-right">
    <div class="g-casestudies__item__description">
      <h4 class="g-header-tag g-header-tag--beta">CTR optimization</h4>
      <h2>Re-target Cold Leads</h2>
      <p>A technology company was looking for ways to increase lead list yield on leads that had been emailed but not engaged. Prior retargeting messaging wasn’t working, so the company deployed Gamalon IdeaMail.</p>
    </div>
    <div class="g-casestudies__item__image">
      <img src="../assets/images/feature-chat.png">
    </div>
  </div>
</section>