<section class="g-comparisonchart">
  <div class='sub-section sub-section--intro'>
    <h4>The others don't compare</h4>
    <h2>We designed a product to win.</h2>
  </div>
  <ul class="g-comparisonchart__chart">
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell"></div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow"><strong>IdeaMail</strong></div>
      <div class="g-comparisonchart__chart__row__cell">Traditional Email Tools</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">A/B testing</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Multivariate Testing</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Automatic optimization</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Predictive performance metrics</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Idea recommendations</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
  </ul>
</section>