<section class="bleed dark">
  <div class='sub-section sub-section--intro'>
    <h4>Email optimization to the nth</h4>
    <h2>An Email testing lab for immediate growth</h2>
  </div>
  <div class="sub-section sub-section--flow-right">
    <div class="sub-section--flow-right__description">
      <h3>Test all your ideas at once.</h3>
      <p>Move over tradition A/B testing. Why not test multiple subject lines, buttons, copy, all in one email?</p>
    </div>
    <div class="sub-section--flow-right__image">
      <img src="../assets/images/product-ui-authoring-email-dark.png">
    </div>
  </div>
</section>
<div class="g-white-pattern-bg">
  <section>
    <div class="sub-section sub-section--flow-right">
      <div class="sub-section--flow-right__description">
        <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
        <h3>Personalize your outreach.</h3>
        <p>Create targeted messages by customizing content for titles, departments, verticals, and more.</p>
      </div>
      <div class="sub-section--flow-right__image sub-section--flow-right__image--small">
        <img src="../assets/images/product-ui-email-personalization.png">
      </div>
    </div>
    <div class="sub-section sub-section--flow-left">
      <div class="sub-section--flow-left__image sub-section--flow-left__image--small">
        <img src="../assets/images/product-ui-idea-experiments.png">
      </div>
      <div class="sub-section--flow-left__description">
        <h4 class="g-header-tag g-header-tag--new">New</h4>
        <h3>Optimize your messaging quickly.</h3>
        <p>Know the best way to engage your audience. Then share those learnings across your org.</p>
      </div>
    </div>
    <div class="sub-section sub-section--flow-right">
      <div class="sub-section--flow-right__description">
        <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
        <h3>Link email outcomes to revenue.</h3>
        <p>Emails create opportunities. Do you know how much an email is worth to your business? We’ll increase it 10x.</p>
      </div>
      <div class="sub-section--flow-right__image sub-section--flow-right__image--small">
        <img src="../assets/images/product-ui-predicted-revenue.png">
      </div>
    </div>
    <div class="sub-section sub-section--flow-left">
      <div class="sub-section--flow-left__image sub-section--flow-left__image--small">
        <img src="../assets/images/product-ui-integrations.png">
      </div>
      <div class="sub-section--flow-left__description">
        <h4 class="g-header-tag g-header-tag--new">New</h4>
        <h3>No need to change your existing workflow.</h3>
        <p>Deliver results in one day without changing the way you work. Gamalon plugs right into your marketing automation tool.</p>
      </div>
    </div>
  </section>
</div>