<section class="g-features">
  <div class='g-section-intro'>
    <h4>Email optimization to the nth</h4>
    <h2>An Email testing lab for immediate growth</h2>
  </div>
  <div class="g-features__item g-features__item--flow-right">
    <div class="g-features__item__description">
      <h3>Test all your ideas at once.</h3>
      <p>Move over tradition A/B testing. Why not test multiple subject lines, buttons, copy, all in one email?</p>
    </div>
    <div class="g-features__item__image">
      <img src="../assets/images/feature-chat.png">
    </div>
  </div>
  <div class="g-features__item g-features__item--flow-left g-features__item--dark">
    <div class="g-features__item__image">
      <img src="../assets/images/feature-ingest.png">
    </div>
    <div class="g-features__item__description">
      <h3>Reduce lead churn.</h3>
      <p>Run experiments on a tiny fraction of your leads, then deploy the optimized campaign to your entire list.</p>
    </div>
  </div>
</section>
<div class="g-white-pattern-bg">
  <section class="g-features">
    <div class="g-features__item g-features__item--flow-right">
      <div class="g-features__item__description">
        <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
        <h3>Personalize your outreach.</h3>
        <p>Create targeted messages by customizing content for titles, departments, verticals, and more.</p>
      </div>
      <div class="g-features__item__image g-features__item__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
    </div>
    <div class="g-features__item g-features__item--flow-left">
      <div class="g-features__item__image g-features__item__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
      <div class="g-features__item__description">
        <h4 class="g-header-tag g-header-tag--new">New</h4>
        <h3>Optimize your messaging quickly.</h3>
        <p>Know the best way to engage your audience. Then share those learnings across your org.</p>
      </div>
    </div>
    <div class="g-features__item g-features__item--flow-right">
      <div class="g-features__item__description">
        <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
        <h3>Link email outcomes to revenue.</h3>
        <p>Emails create opportunities. Do you know how much an email is worth to your business? We’ll increase it 10x.</p>
      </div>
      <div class="g-features__item__image g-features__item__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
    </div>
    <div class="g-features__item g-features__item--flow-left">
      <div class="g-features__item__image g-features__item__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
      <div class="g-features__item__description">
        <h4 class="g-header-tag g-header-tag--new">New</h4>
        <h3>No need to change your existing workflow.</h3>
        <p>Deliver results in one day without changing the way you work. Gamalon plugs right into your marketing automation tool.</p>
      </div>
    </div>
  </section>
</div>