<header class="g-hero">
  <div class="g-hero__cta">
    <h4 class="g-header-tag g-header-tag--new">New</h4>
    <h1>Supercharge Your Email Campaigns</h1>
    <p>Replace guesswork with data-driven email experimentation. You’ll double your clickthrough rate in one week with Gamalon IdeaMail.</p>
    <a class="g-cta g-cta--btn" type="submit">Schedule a Demo</a>
    <a class="g-cta g-cta--btn" type="submit">Start your free 30-day trial now</a>
  </div>
  <div class="g-hero__image" style="background-image:url('../assets/images/hero-jamie.png');"></div>
</header>