<header class="g-hero">
  <div class="g-hero__cta">
    <h4 class="g-header-tag g-header-tag--new">New</h4>
    <h1>Supercharge Your Email Campaigns</h1>
    <p>Replace guesswork with data-driven email experimentation. You’ll double your clickthrough rate in one week with Gamalon IdeaMail.</p>
    <div class="g-hero__cta__actions">
      <a href="#" class="g-btn g-btn--light g-btn--arrow">Free 30-day Trial</a>
      <span class="g-hero__cta__actions__secondarycta">
        Contact us today to 
        <a href="#" class="cta">Schedule a Demo</a>
      </span>    
    </div>
  </div>
  <div class="g-hero__image g-hero__image--nobleed" style="background-image:url('../assets/images/hero-email.png');"></div>
</header>