<section class="g-howitworks b_b_gray">
  <div class='sub-section sub-section--intro'>
    <h4>How it Works</h4>
    <h2>Conversational A.I. that serves your business and your customers.</h2>
  </div>
  <div class="sub-section sub-section--gridded-row">
    <div class="sub-section--gridded-row__item">
      <h5>1. Create an experiment.</h5>
      <p>Our intuitive email composition tool lets you test variations on everything—subject line, preview text, body, buttons, graphics, personalization, and more.</p>
    </div>
    <div class="sub-section--gridded-row__item">
      <h5>2. Choose your audience.</h5>
      <p>Our machine learning platform lets you run definitive multivariate tests on a tiny fraction of your contacts list.</p>
    </div>
    <div class="sub-section--gridded-row__item">
      <h5>3. Identify the winning ideas.</h5>
      <p>Our native integrations let you deliver results that plug directly into your marketing automation tool.</p>
    </div>
  </div>
</section>