<section class="g-planfeature">
  <div class='sub-section sub-section--intro'>
    <h4>Pricing</h4>
    <h2>Try a Pro plan free, for 15 days.</h2>
  </div>
  <ul class="g-planfeature__chart">

    <li class="g-planfeature__chart__row">
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--label g-planfeature__chart__row__cell--first"></div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--title g-planfeature__chart__row__cell--pro">
        <h4 class="g-header-tag g-header-tag--pro">Pro</h4>
        <h5 class="g-planfeature__chart__row__cell__price g-planfeature__chart__row__cell--pro__price">$99/month</h5>
        <h3 class="g-planfeature__chart__row__cell__callout g-planfeature__chart__row__cell--pro__callout">The Pro plan is for small-to-mid size customers.</h3>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--title g-planfeature__chart__row__cell--enterprise">
        <h4 class="g-header-tag g-header-tag--enterprise">Enterprise</h4>
        <h5 class="g-planfeature__chart__row__cell__price g-planfeature__chart__row__cell--enterprise__price">Contact us</h5>
        <h3 class="g-planfeature__chart__row__cell__callout g-planfeature__chart__row__cell--enterprise__callout">The Enterprise plan is best for mid-to-large customers.</h3>
      </div>
    </li>

    <li class="g-planfeature__chart__row">
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--label">
        <h5>Usage</h5>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--pro">
        <p>10 experiments per month</p>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--enterprise">
        <p>Unlimited experiments</p>
      </div>
    </li>

    <li class="g-planfeature__chart__row">
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--label">
        <h5>Multivariate Experimentation</h5>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--pro">
        <p>Unlimited ideas</p>
        <p>3 variants per idea</p>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--enterprise">
        <p>Unlimited ideas</p>
        <p>3 variants per idea</p>
        <p>Idea Hierarchies</p>
      </div>
    </li>

    <li class="g-planfeature__chart__row">
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--label">
        <h5>Testing Support</h5>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--pro">
        <p>HTML Email testing</p>
        <p>Image testing</p>
        <p>Import existing email templates</p>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--enterprise">
        <p>HTML Email testing</p>
        <p>Image testing</p>
        <p>Import existing email templates</p>
      </div>
    </li>

    <li class="g-planfeature__chart__row">
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--label">
        <h5>Optimizations</h5>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--pro">
        <p>Key metric optimization</p>
        <p>Automatic optimization</p>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--enterprise">
        <p>Key metric optimization</p>
        <p>Automatic optimization</p>
      </div>
    </li>

    <li class="g-planfeature__chart__row">
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--label">
        <h5>Reporting</h5>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--pro">
        <p>Performance summary reporting</p>
        <p>Predictive performance metrics</p>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--enterprise">
        <p>Performance summary reporting</p>
        <p>Predictive performance metrics</p>
        <p>Cross-experiment analytics</p>
        <p>Historical analysis</p>
        <p>Idea recommendations</p>
      </div>
    </li>

    <li class="g-planfeature__chart__row">
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--label">
        <h5>Integrations</h5>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--pro">
        <p>Pardot</p>
        <p>Hubspot</p>
        <p>SendGrid</p>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--enterprise">
        <p>Pardot</p>
        <p>Hubspot</p>
        <p>SendGrid</p>
        <p>Marketo</p>
        <p>Custom Integrations</p>
      </div>
    </li>

    <li class="g-planfeature__chart__row">
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--label g-planfeature__chart__row__cell--cta"></div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--pro  g-planfeature__chart__row__cell--cta">
        <button class="g-planfeature__chart__row__cell__ctabtn g-btn g-btn--primary g-btn--large g-btn--submit" type="submit">
          Sign-up
        </button>
      </div>
      <div class="g-planfeature__chart__row__cell g-planfeature__chart__row__cell--enterprise  g-planfeature__chart__row__cell--cta">
        <button class="g-planfeature__chart__row__cell__ctabtn g-btn g-btn--secondary g-btn--large g-btn--submit" type="submit">
          Contact Us
        </button>
      </div>
    </li>
    
  </ul>
</section>












