<section class="g-praise">
  <div class="g-praise__item">
    <div class="g-praise__item__quote">
      <h4>Industry Leaders</h4>
      <h2>“Gamalon enabled us to quickly adjust and refine our message to C-Suite executives, resulting in a 100% higher open rate.”</h2>
    </div>
    <div class="g-praise__item__attribution">
      <div class="g-praise__item__photo">
        <img src="../assets/images/praise-photo-ph.jpg">
      </div>
      <h5>Melodye Mueller</h5>
      <h6>Head of Marketing, Chaos Search</h6>
    </div>
  </div>
</section>