<section class="g-features bleed">
  <div class='sub-section sub-section--intro'>
    <h4>Customer Chat</h4>
    <h2>Give smart, truly helpful chat to every customer, everywhere.</h2>
  </div>
  <div class="sub-section sub-section--flow-right">
    <div class="sub-section--flow-right__description">
      <h3>Learns by reading your website.</h3>
      <p>IdeaFlow learns like a new sales rep, by reading your website and product information. It can talk to customers about your products, use cases, pricing, and more. What’s more, IdeaFlow learns new ideas from its conversations and gets smarter over time.</p>
    </div>
    <div class="sub-section--flow-right__image">
      <img src="../assets/images/feature-chat.png">
    </div>
  </div>
  <div class="sub-section sub-section--flow-left">
    <div class="sub-section--flow-left__image">
      <img src="../assets/images/feature-ingest.png">
    </div>
    <div class="sub-section--flow-left__description">
      <h3>Automated dialog.</h3>
      <p>Stop toiling over scripted dialog flows and decision trees. IdeaFlow is powered by Gamalon's revolutionary A.I., called Idea learning, which focuses on understanding your customers' needs and delivers a customer-centric buying experience, every time.</p>
    </div>
  </div>
</section>
<div class="g-white-pattern-bg">
  <section class="g-features">
    <div class="sub-section sub-section--flow-right">
      <div class="sub-section--flow-right__description">
        <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
        <h3>Instant Conversational FAQs.</h3>
        <p>IdeaFlow automatically identifies your customers’ most frequent questions, learns the answers to those questions, and then delivers instant responses for all your website’s visitors.</p>
      </div>
      <div class="sub-section--flow-right__image sub-section--flow-right__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
    </div>
    <div class="sub-section sub-section--flow-left">
      <div class="sub-section--flow-left__image sub-section--flow-left__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
      <div class="sub-section--flow-left__description">
        <h4 class="g-header-tag g-header-tag--new">New</h4>
        <h3>Capture & Qualify Leads.</h3>
        <p>With IdeaFlow, you can understand the nature of each visitor's interest in your company, in real time. IdeaFlow analyzes conversations to capture and qualify your most promising leads. </p>
      </div>
    </div>
    <div class="sub-section sub-section--flow-right">
      <div class="sub-section--flow-right__description">
        <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
        <h3>Eliminate Chatbot Blindness.</h3>
        <p>The most innovative chat solution deserves the most seamless conversational UI available. No more clunky chat boxes. IdeaFlow’s seamless experience gives you a truly conversational website.</p>
      </div>
      <div class="sub-section--flow-right__image sub-section--flow-right__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
    </div>
  </section>
</div>