<header class="g-hero">
  <div class="g-hero__cta">
    <h4 class="g-header-tag g-header-tag--new">New</h4>
    <h1>Finally, chat that doesn't suck.</h1>
    <p>Deliver better conversations to every lead with Gamalon IdeaFlow. Deployed in minutes, not months. No reps needed.</p>
    <a class="g-cta g-cta--btn" type="submit">Schedule a Demo</a>
    <a class="g-cta g-cta--btn" type="submit">Start your free 30-day trial now</a>
  </div>
  <div class="g-hero__image" style="background-image:url('../assets/images/hero-jamie.png');"></div>
</header>