<header class="g-hero">
  <div class="g-hero__cta">
    <h4 class="g-header-tag g-header-tag--new">New</h4>
    <h1>Finally, chat that doesn't suck.</h1>
    <p>Deliver better conversations to every lead with Gamalon IdeaFlow. Deployed in minutes, not months. No reps needed.</p>
    <div class="g-hero__cta__actions">
      <a href="#" class="g-btn g-btn--light g-btn--arrow">Schedule a Demo</a>
{{!--       <span class="g-hero__cta__actions__secondarycta">
        Contact us today to 
        <a href="#" class="cta">Schedule a Demo</a>
      </span>  --}}   
    </div>
  </div>
  <div class="g-hero__image" style="background-image:url('../assets/images/hero-jamie.png');"></div>
</header>