<section class="g-howitworks">
  <div class='g-section-intro'>
    <h4>How we did it.</h4>
    <h2>Conversational A.I. that serves your business and your customers.</h2>
  </div>
  <div class="g-howitworks__wrap">
    <div class="g-howitworks__wrap__item">
      <h5>Powered by Idea Learning</h5>
      <p>The most accurate approach to language AI.</p>
    </div>
    <div class="g-howitworks__wrap__item">
      <h5>Asks Clarifying Questions.</h5>
      <p>Asks questions to better understand your customers.</p>
    </div>
    <div class="g-howitworks__wrap__item">
      <h5>Custom auto-correct.</h5>
      <p>Learns strange product/feature naming conventions.</p>
    </div>
    <div class="g-howitworks__wrap__item">
      <h5>Maintains Multi-threaded context.</h5>
      <p>Keeps track of answered questions in non-linear conversations.</p>
    </div> 
    <div class="g-howitworks__wrap__item">
      <h5>Fits Your Unique brand.</h5>
      <p>Cultivate your own brand voice.</p>
    </div>
    <div class="g-howitworks__wrap__item">
      <h5>Unlimited product dimensions.</h5>
      <p>Learns infinite products, features, use cases, etc..</p>
    </div>
    <div class="g-howitworks__wrap__item">
      <h5>Conversational learning.</h5>
      <p>Never answer the same question twice.</p>
    </div>
    <div class="g-howitworks__wrap__item">
      <h5>Transparent and Editable.</h5>
      <p>Easily audit and edit IdeaFlow knowledge.</p>
    </div> 
  </div>
</section