.g-howitworks{
  padding: var(--padding-section) 0rem 0rem 0rem;
  max-width: 100%;
  &__wrap{
    text-align: center;
    padding: 2rem 3rem;
    &__item{
      text-align: left;
      display: inline-block;
      width:23%;
      vertical-align: top;
      margin-bottom: 1rem;
      padding-left:1rem;
    }
  }
}

@media only screen and (max-width: 900px) {}
