.g-industries{
  &__list{
    display: flex;
    flex-flow: row wrap;
    &__item{
      width:50%;
      padding:0 3rem;
      margin:1rem 0rem;
      display: flex;
      flex-flow: row nowrap;
      &__icon{
        width:12rem;
        margin-right:2rem;
      }
      &__description{}
    }
  }
}