.g-key-benefits{
  &__list{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    &__item{
      width:32%;
      padding:0 2rem;
      margin:1rem 0rem;
      /*display: flex;*/
      /*flex-flow: row nowrap;*/
      &__icon{
        width:12rem;
        margin-right:2rem;
        margin-bottom: 2rem;
        img{
          margin: unset;
        }
      }
      &__description{}
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}