.g-logos{
  text-align: center;
  &__list{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    &__item{
      display: block;
      /*width: 10rem;*/
    }
    &--row-one{
      justify-content: space-around;
      .g-logos__list__item{
        /*width: 50%;*/
        max-width:24rem;
        
      }
    }
    &--row-two{
      margin-top:2rem;
      justify-content: center;
      .g-logos__list__item{
        max-width:8rem;
        
        margin: 0 3rem;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}