.g-nav{
	&__item{
    position: relative;
    padding: 0 2.5rem;
    display: inline-block;
    margin-left:-0.55rem;
    &:after{
      content: '';
      display: block;
      position: absolute;
      right:0;
      top:50%;
      height:1rem;
      width:1px;
      transform: translateY(-50%);
      background-color: var(--color-lightcharcoal);
      opacity:0.35;
    }
    &__link{
      &__arrow{
        position: relative;
      }
    }
    &__submenuwrap{
      position: absolute;
      top:100%;
      left:50%;
      padding-top:1rem;
      transform: translateX(-50%) translateY(10px);
      opacity: 0;
      visibility: hidden;
      transition: var(--hover-menu-item);
      &__submenu{
        width:20rem;
        padding: 1.6rem 2rem !important;
        background-color: white;
        box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 0.2rem;
        &__item{
          margin-bottom: 1.25rem;
          font-family: var(--font-sans);
          text-transform: none;
          font-size: 1.1rem;
          font-weight: var(--font-sans-medium);
          &__link{
            color: var(--color-darkgray);
          }
          &__subtext{
            font-weight: var(--font-sans-normal);
            font-size: 0.95rem;
            line-height: 1.2rem;
            margin:0;
            margin-top:3px;
            color: var(--color-lightcharcoal);
          }
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          top:7px;
          left:50%;
          transform: translateX(-50%);
          width: 0; 
          height: 0; 
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid white;
        }
        li:last-child{
          margin-bottom:0;
        }
      }  
    }
    
    &:hover{
      .g-nav__item__submenuwrap{
        transform: translateX(-50%) translateY(0px);
        opacity: 1;
        visibility: visible;
      }
    }
	}
  li:last-child{
    border-right:0px;
    &:after{
      content:none;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 939px) {
  .g-nav{
    &__item{
      padding: 0 1rem;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {}*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 940px) {
  .g-nav{
    &__item{
      padding: 0 1rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1050px) {
  .g-nav{
    &__item{
      padding: 0 1.5rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .g-nav{
    &__item{
      padding: 0 2.5rem;
    }
  }
}