.g-on-science{
  &__item{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: var(--padding-section) 0;
    align-items: center;
    &__description{
      width: 40rem;
      padding: 0 4rem 0 0;
    }
    &__image{
      max-width: 800px;
      width: 95%;
    }
    &--flow-right{
      /*padding-right:0;*/
    }
    &--flow-left{
      /*padding-left:0;*/
      .g-on-science__item__description{
        padding: 0 0 0 4rem;
      }
    }
  }
  &--bg-white{
    background-color: white;
    background-image: url(../images/ui-quote-pattern.svg);
    background-position: 20% top;
    background-repeat: no-repeat;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}