.g-principles{
  background-color: var(--color-darkgray);
  color: white;
  max-width: unset;
  p, h2, h4{ color: white; }
  h5{ color: #10D582; }
  &__list{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: space-between;
    &__item{
      width: 30%;
      padding:0 2rem;
      margin:1rem 0rem;
      /*display: flex;*/
      /*flex-flow: row nowrap;*/
      &__icon{
        width:10rem;
        margin-right:2rem;
        margin-bottom: 2rem;
        img{
          margin: unset;
        }
      }
      &__description{}
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}