<section class="g-comparisonchart">
  <div class='g-section-intro'>
    <h4>The others don't compare</h4>
    <h2>We designed a product to win.</h2>
  </div>
  <ul class="g-comparisonchart__chart">
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell"></div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow"><strong>IdeaFlow</strong></div>
      <div class="g-comparisonchart__chart__row__cell">Traditional Chatbots</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Learns by Reading Content</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Conversational Training</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Powered by Idea Learning</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Innovative Chat UI</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Scales without People</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/check'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/x'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Excessive Data-labeling</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/x'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/check'}}</div>
    </li>
    <li class="g-comparisonchart__chart__row">
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--label">Tedious Dialog Scripting</div>
      <div class="g-comparisonchart__chart__row__cell g-comparisonchart__chart__row__cell--ideaflow">{{> 'svgs/x'}}</div>
      <div class="g-comparisonchart__chart__row__cell">{{> 'svgs/check'}}</div>
    </li>
  </ul>
</section>