<header class="g-hero">
  <div class="g-hero__cta">
    <h4 class="g-header-tag g-header-tag--new">Introducing</h4>
    <h1>AI you can trust</h1>
    <p>At Gamalon we’re creating the first explainable, editable AI - to help you personally delight and engage every customer, without SDRs and live chat agents.</p>
    <div class="g-hero__cta__actions">
      <a href="#" class="g-btn g-btn--light g-btn--arrow">Learn more</a>
      <span class="g-hero__cta__actions__secondarycta">
        about A.I. you can trust.
      </span>    
    </div>
  </div>
  <div class="g-hero__image" style="background-image:url('../assets/images/hero-jamie.png');"></div>
</header>