<section class="g-key-benefits">
  <div class='g-section-intro'>
    <h4>A New Generation of Benefits</h4>
    <h2>Our products have a unique set of benefits.</h2>
  </div>
  <div class="g-key-benefits__list">
    <div class="g-key-benefits__list__item">
      <div class="g-key-benefits__list__item__icon">
        <img src="../assets/images/benefit-icon-automatically-discover.svg">
      </div>
      <div class="g-key-benefits__list__item__description">
        <h5>Automatically Discover</h5>
        <p>Automatically surfaces the new things your customers are saying.</p>
      </div>
    </div>
    <div class="g-key-benefits__list__item">
      <div class="g-key-benefits__list__item__icon">
        <img src="../assets/images/benefit-icon-continuously-monitor.svg">
      </div>
      <div class="g-key-benefits__list__item__description">
        <h5>Continuously Monitor</h5>
        <p>Star the stories you care about most so you can keep an eye on them.</p>
      </div>
    </div>
    <div class="g-key-benefits__list__item">
      <div class="g-key-benefits__list__item__icon">
        <img src="../assets/images/benefit-icon-immediate-accurate.svg">
      </div>
      <div class="g-key-benefits__list__item__description">
        <h5>Immediate & Accurate</h5>
        <p>Immediately incorporates new topics into an AI Assistant that is accurate and fast-learning.</p>
      </div>
    </div>
    <div class="g-key-benefits__list__item">
      <div class="g-key-benefits__list__item__icon">
        <img src="../assets/images/benefit-icon-any-text.svg">
      </div>
      <div class="g-key-benefits__list__item__description">
        <h5>Any Text</h5>
        <p>We can read and interpret sentences, paragraphs, or full conversations.</p>
      </div>
    </div>
    <div class="g-key-benefits__list__item">
      <div class="g-key-benefits__list__item__icon">
        <img src="../assets/images/benefit-icon-any-software.svg">
      </div>
      <div class="g-key-benefits__list__item__description">
        <h5>Any Software or Channel</h5>
        <p>We can read text data from any of your communication channels and software data stores, in any format.</p>
      </div>
    </div>
    <div class="g-key-benefits__list__item">
      <div class="g-key-benefits__list__item__icon">
        <img src="../assets/images/benefit-icon-any-language.svg">
      </div>
      <div class="g-key-benefits__list__item__description">
        <h5>Any Language</h5>
        <p>We can read and understand any language.</p>
      </div>
    </div>
  </div>
</section>