<section class="g-logos">
  <div class='sub-section sub-section--intro'>
    <h4>Recognition</h4>
    <h2>We’re humbled by the barriers we’ve broken through and the recognition we’ve received for it.</h2>
  </div>
  <ul class="g-logos__list g-logos__list--row-one">
    <li class="g-logos__list__item"><img src="../assets/images/logo-wef-tech-pioneers.png"></li>
    <li class="g-logos__list__item"><img src="../assets/images/logo-mit-tech-review.png"></li>
  </ul>
  <ul class="g-logos__list g-logos__list--row-two">
    <li class="g-logos__list__item"><img src="../assets/images/logo-bloomberg.png"></li>
    <li class="g-logos__list__item"><img src="../assets/images/logo-forbes.png"></li>
    <li class="g-logos__list__item"><img src="../assets/images/logo-techcrunch.png"></li>
    <li class="g-logos__list__item"><img src="../assets/images/logo-wired.png"></li>
  </ul>
  <a class="g-cta g-cta--link" href="#">Read Customer Stories</a>
</section>







