<div class="g-white-pattern-bg">
  <section class="g-praise-billboard g-praise-billboard--blue">
    <div class="g-praise-billboard__portrait">
      <img src="../assets/images/person-melodye.png">
    </div>
    <div class="g-praise-billboard__praise">
      <h4 class="g-praise-billboard__praise__subtitle">Success Stories</h4>
      <h2>We were able to upload our entire product catalog in minutes and chat with IdeaFlow about it. Our collective minds are blown.</h2>
      <h5>Gina Something, Head of Something at BASF</h5>
    </div>
    <a class="g-cta g-cta--btn g-praise-billboard__cta" type="submit">Schedule a Demo</a>
  </section>
</div>