<div class="g-white-pattern-bg">
  <section class="g-praise-billboard g-praise-billboard--green">
    <div class="g-praise-billboard__portrait">
      <img src="../assets/images/person-melodye.png">
    </div>
    <div class="g-praise-billboard__praise">
      <h4 class="g-praise-billboard__praise__subtitle">Success Stories</h4>
      <h2>ChaosSearch was able to double click-through rates in 2 experiments - something that wouldn’t be possible with any other email marketing application.”</h2>
      <h5>Melodye Mueller, Chief Marketing Officer at ChaosSearch</h5>
    </div>
    <a class="g-cta g-cta--btn g-praise-billboard__cta" type="submit">Schedule a Demo</a>
  </section>
</div>