<div class="g-white-pattern-bg">
  <section class="g-features">
    <div class='sub-section sub-section--intro'>
      <h4>New</h4>
      <h2>IdeaMail: Email marketing that learns</h2>
    </div>
    <div class="g-features__item g-features__item--flow-right">
      <div class="g-features__item__description">
        <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
        <h3>IdeaFlow: Delivering The Conversational Web</h3>
        <p>IdeaMail was designed to self-optimize email marketing. Powered by Idea Learning, it enables any marketing team to maximize open and click-through rates through micro-variant language testing*. A/B testing is too limiting, taking too much time to learn the best concepts and ideas for each customer segment. IdeaMail can rapidly optimize across dozens of ideas within each email experiment, on fewer leads than traditional testing.</p>
        <a class="g-cta g-cta--btn" type="submit">Learn More</a>
      </div>
      <div class="g-features__item__image g-features__item__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
    </div>
  </section>
</div>