<div class="g-white-pattern-bg">
  <section class="g-features">
    <div class='sub-section sub-section--intro'>
      <h4>Available Now</h4>
      <h2>Automate 1:1 Customer engagement with AI-First SaaS</h2>
    </div>
    <div class="g-features__item g-features__item--flow-right">
      <div class="g-features__item__description">
        <h4 class="g-header-tag g-header-tag--beta">In-beta</h4>
        <h3>IdeaFlow: Delivering The Conversational Web</h3>
        <p>The best way to deliver a personal, delightful experience to every customer is to let them tell you in their own words what they need. No form bots or away messages, but a website you can chat with, that can tell you what it knows, and is designed to extend the purpose of the website via conversation - to help your customers simply find what they’re looking for.</p>
        <a class="g-cta g-cta--btn" type="submit">Learn More</a>
      </div>
      <div class="g-features__item__image g-features__item__image--small">
        <img src="../assets/images/feature-small-ph.png">
      </div>
    </div>
  </section>
</div>